.readSocial {
    margin-bottom: 0px;
    margin-left: -5px;
    li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
        a {
            color: #aaaaaa;
            display: inline-block;
            font-size: 13px;
            font-weight: 700;
            width: 13px;
            height: 13px;
            padding: 20px 0 20px 4px;
            &:hover {
                color: #da521e;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .readSocial {
        margin-bottom: 0;
        float: none !important;
        position: absolute;
        bottom: -15px;
        left: 8px;
    }
}