.listMenu {
    li {
        a {
            color: #444 !important;
            font-weight: bold;
            font-size: 11px;
            padding: 20px 12px;
            letter-spacing: 1px;
            &:hover {
                color: #da521e !important;
            }
            &.toggle::after {
                display: inline-block;
                content: "\f107";
                margin-left: 5px;
                font-family: "FontAwesome";
                font-size: 11px;
                line-height: 0.9;
                -webkit-font-smoothing: antialiased;
            }
        }
    }
    .dropDownList {
        ul {
            display: none;
            margin: 0px;
            border-radius: 0px;
            padding: 0px;
            border: 0px;
            min-width: 200px;
            box-shadow: none;
            li {
                border-bottom: 1px solid #e2e2e2;
                border-left: 1px solid #e2e2e2;
                border-right: 1px solid #e2e2e2;
                &:first-child {
                    border-top: 1px solid #e2e2e2;
                }
                a {
                    padding: 14px 12px;
                    margin: 0;
                    background: #fff;
                    font-size: 11px;
                    font-weight: bold;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .listMenu {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        li>a {
            padding: 10px 12px;
        }
        .dropDownList>ul {
            width: 100%;
            position: static;
            float: none;
        }
    }
}