.header {
    color: red;
}

@media only screen and (max-width: 1151px) and (min-width: 768px) {
    .header {
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.miguel {
    color: aliceblue;
} 

h1 {
    font: bold;
}